/* Общие стили и сбросы */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Press Start 2P', monospace;
}

body {
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    overflow: hidden;
    touch-action: none;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Press Start 2P', monospace;
    font-size: clamp(10px, 2vw, 14px);
}