html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-background-dark);
    overflow: hidden;
}

* {
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Press Start 2P', monospace;
}

body {
    color: var(--color-text-light);
    font-size: clamp(10px, 2vw, 14px);
}

#app-container {
    height: 100%;
    position: relative;
    overflow: auto;

    padding-bottom: 0;

    transition: padding-bottom 0.3s ease-out;
}

#gameArea {

    margin-bottom: 100px;

}
